.admin-materiales {
  min-height: 100vh;
}

.materiales-card, .edit-card {
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.custom-label {
    min-width: 220px;
}

@media (max-width: 768px) {
    .custom-label {
        min-width: 100%;
        text-align: left !important;
    }
}
